body {
    font-family: 'Comic Sans MS', cursive;
    background: linear-gradient(to right, #dff6fd, #fff2e1);
    text-align: center;
    margin: 0;
    padding: 20px;
  }
  .container {
    max-width: 800px;
    margin: auto;
  }
    .lang-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      background-color: #e7517c;
      border: 2px solid black;
      border-radius: 50%;
      width: 70px;
      height: 70px;
      font-weight: bold;
      color: #2c085f;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    }
    .lang-btn img {
      width: 20px;
    }
    .lang-btn span {
      font-size: 12px;
    }
  
  h1 {
    color: teal;
  }
  .score {
    font-size: 1.5em;
    color: orange;
  }
  #startBtn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  .game-area {
    position: relative;
    width: 600px;
    height: 350px;
    background-color: #fffccf;
    border: 3px dashed green;
    margin: auto;
    overflow: hidden;
  }
  .microbit {
    width: 60px;
    position: absolute;
    cursor: pointer;
    transition: transform 0.2s;
  }
  .microbit:hover {
    transform: scale(1.1);
  }