body {
    background: linear-gradient(to right, #dff6fd, #fff2e1);
    text-align: center;
    margin: 0;
    padding: 20px;
  }
  .navbar {
    width: 97.5%;
    background: #491c78;
    padding: 15px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
  
  
  .logo img {
    height: 70px;
  }
  
  .menu {
    display: flex;
    gap: 60px;
  }
  
  .menu a img {
    width: 35px;
    transition: transform 0.2s;
  }
  
  .menu a img:hover {
    transform: scale(1.1);
  }
  
  .right-section {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .search-box {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 5px 10px;
  }
  
  .search-box input {
    border: none;
    outline: none;
    padding: 5px;
  }
  
  .search-box button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .search-box button img {
    width: 20px;
  }
  
  .steam-explorer {
    background-color: #FFD700;
    padding: 5px 15px;
    border-radius: 15px;
    font-weight: bold;
    color: #6A008A;
  }
  
  .user-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
  }
  .container {
    max-width: 800px;
    margin: auto;
  }
    .lang-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      background-color: #e7517c;
      border: 2px solid black;
      border-radius: 50%;
      width: 70px;
      height: 70px;
      font-weight: bold;
      color: #2c085f;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    }
    .lang-btn img {
      width: 20px;
    }
    .lang-btn span {
      font-size: 12px;
    }
  
  h1 {
    color: teal;
  }
  .score {
    font-size: 1.5em;
    color: orange;
  }
  #startBtn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  .game-area {
    position: relative;
    width: 600px;
    height: 350px;
    background-color: #fffccf;
    border: 3px dashed green;
    margin: auto;
    overflow: hidden;
  }
  .microbit {
    width: 60px;
    position: absolute;
    cursor: pointer;
    transition: transform 0.2s;
  }
  .microbit:hover {
    transform: scale(1.1);
  }